<h1>Welcome to the Homepage</h1>


  
<div id="home-container" class="text-center">
<div class="jumbotron h-100 p-5 text-dark bg-dark jumbotron-image rounded-3">
  <h1 class="display-5 fw-bold">AlphaBlog</h1>
  <button class="btn btn-success btn-lg" type="button">Sign up!</button>
</div>
</div>



